/*
Author: Nic, Greg and Kim
Author URI: http://guelph.ca
Template: twentytwelve
Version: 1.0
*/

.btn {
  font-weight: 600;
  border-radius: 0px;
}

.cog-btn{
  padding:8px 16px;
  z-index:1;
  position:relative;
  cursor:pointer;
  font-size:18px;
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  line-height:1.6;
  text-decoration:none;
  text-align:center;
  -webkit-box-pack:center;
  -webkit-justify-content:center;
  -ms-flex-pack:center;
  justify-content:center;
  border-style:solid;
  -webkit-transition:all .3s ease-in-out;
  transition:all .3s ease-in-out;
  border-width:2px;
  border-radius:3px;
  border-color:#555555;
  overflow:hidden;
  background:transparent;
  color:#555555;
}


a.btn.btn-success, .wp-block-button__link {
  background-color: #fff;
  background-image: none !important;
  text-decoration: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  font-weight: normal;
  color: #474747;
  border: 1px solid #474747;
   !important;
  font-size: 120%;
  -webkit-transition: 0.1s all;
  -moz-transition: 0.1s all;
  -ms-transition: 0.1s all;
  transition: 0.1s all;
  margin-top: .5em;
  box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.26);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 4px;
}

a.btn.btn-success:hover {
  background-color: #eee;
}

.btn .btn-success a:visited {
  color: #fff !important;
}

a.btn.btn-footer {
  color: #fff !important;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  font-weight: normal;
  color: #fff !important;
  border: 1px solid #fff !important;
  -webkit-transition: 0.1s all;
  -moz-transition: 0.1s all;
  -ms-transition: 0.1s all;
  transition: 0.1s all;
  margin-top: .5em;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 4px;
}


/* reCollect overrides */
a#rCbtn-search.btn.btn-success {
  color: #fff !important;
}
