/*
File: prettyLinks.css
Description: Stylization for pretty hyperlinks on Guelph.ca
Author: Nic Durish
Email: nic.durish@guelph.ca
Version: 1.0
*/

a.NDprettylink, .wp-block-file a, .wp-block-file__content-wrapper{
  margin: 20px 0 !important;
  font-weight: 600;
  background: #fafafa;
  /*background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%);*/
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-shadow: 0px 2px 0px #fff;
  border: solid 1px #ccc;
  cursor: pointer;
  display: block;
  font-size: 14px;
  line-height: 1.2em;
  padding: 10px 10px 10px 40px;
  position: relative;
  text-decoration: none !important;
}

a.NDprettylink:after, .wp-block-file a:after{
  content: "";
  display: block;
  height: 20px;
  left: 10px;
  margin-right: 2px;
  position: absolute;
  top: 8px;
  width: 20px;
}

a.NDprettylink:hover, .wp-block-file a:hover{
  text-decoration: none;
  border: solid 1px #aaa;
  color: #206dbc;
}

a.NDprettylink[href$=".mp3"]:after, a.NDprettylink[href$=".mp4"]:after{
  content:url(https://img.icons8.com/color/24/000000/video-file.png);
}

a.NDprettylink[href$=".docx"]:after, a.NDprettylink[type="application/msword"]:after, .wp-block-file a[href$=".docx"]:after, .wp-block-file a[type="application/msword"]:after {
  content:url(https://img.icons8.com/color/24/000000/ms-word.png);
}

a.NDprettylink[href$=".pptx"]:after, a.NDprettylink[href$=".ppt"]:after, a.NDprettylink[type="application/mspowerpoint"]:after, a.NDprettylink[type="application/powerpoint"]:after, .wp-block-file a[href$=".pptx"]:after, .wp-block-file a[href$=".ppt"]:after, .wp-block-file a[type="application/mspowerpoint"]:after, .wp-block-file a[type="application/powerpoint"]:after {
    content:url(https://img.icons8.com/color/24/000000/ms-powerpoint--v1.png);
}

a.NDprettylink[href$=".xlsx"]:after, .wp-block-file a[href$=".xlsx"]:after, a.NDprettylink[type="application/excel"]:after, .wp-block-file a[type="application/excel"]:after, a.NDprettylink[type="application/x-excel"]:after, .wp-block-file a[type="application/x-excel"]:after {
  content:url(https://img.icons8.com/color/24/000000/ms-excel.png);
}

a.NDprettylink[href*=".pdf"]:after, .wp-block-file a[href*=".pdf"]:after, a.NDprettylink[type="application/pdf"]:after, .wp-block-file a[type="application/pdf"]:after {
  content:url(https://img.icons8.com/color/24/000000/pdf-2.png);
}

/*li < .NDprettylink {
    list-style-type: none !important;
}*/

.wp-block-file__button{display:none !important;}







.NDprettybtn {
  -webkit-transition: 0.15s;
  transition: 0.15s;
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
	display: inline-block;
	border-radius: 3px;
	text-decoration: none;
}
.NDprettybtn.blue{
	 color: #00355f !important;
}
.NDprettybtn.blue:hover, .NDprettybtn.blue:focus {
  border-color: #00355f !important;
	text-decoration: none;
  color: #fff !important;
}
.NDprettybtn.blue.fill:hover,
.NDprettybtn.blue.fill:focus {
  box-shadow: inset 0 0 0 2em #00355f;
}
