/*--------------------------------------------------------------
  ## Breadcrumbs
--------------------------------------------------------------*/
#breadcrumbs {
  margin: 0;
  line-height: 1.6em;
  font-size: 80%;

  span a{
    margin: 0 4px;
    font-weight: 600;
  }
}
