/*--------------------------------------------------------------
  ## Top Return Button
--------------------------------------------------------------*/
#top-return-btn {
  display: inline-block;
  background-color: $site-primary;
  color: white;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  transition: background-color .3s,
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  text-decoration: none;
  &::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 1.8em;
    line-height: 38px;
    color: white;
  }
  &.show {
    opacity: 0.7;
    visibility: visible;
  }
  &:hover, &:active {
    cursor: pointer;
    opacity: 1;
  }
}
