/*
File: COG-components.css
Description: This file holds the styles for all the custom design components used on Guelph.ca
Author: Nic Durish
Email: nic.durish@guelph.ca
Version: 1.0
*/

/********************************
 * PRETTY LINKS
 *
 * these links automatically create a 'btn' with the icon indicating the file type.
 * Files currently supported include; mp3, docx, pptx, xlsx, pdf, and forms.guelph
 *
 * restrictions: they take up an entire line, and lack an icon if missing the proper prefix or suffix
 ********************************/
a.COGprettylink, a.NDprettylink, .wp-block-file a, .wp-block-file__content-wrapper{
  margin: 20px 0 !important;
  font-weight: 600;
  background: #fafafa;
  /*background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%);*/
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-shadow: 0px 2px 0px #fff;
  border: solid 1px #ccc;
  cursor: pointer;
  display: block;
  font-size: 14px;
  line-height: 1.2em;
  padding: 10px 10px 10px 40px;
  position: relative;
  text-decoration: none !important;
}

a.COGprettylink:after, a.NDprettylink:after, .wp-block-file a:after{
  content: "";
  display: block;
  height: 20px;
  left: 10px;
  margin-right: 2px;
  position: absolute;
  top: 8px;
  width: 20px;
}

a.COGprettylink:hover, a.NDprettylink:hover, .wp-block-file a:hover{
  text-decoration: none;
  border: solid 1px #aaa;
  color: #206dbc;
}

a.NDprettylink[href$=".mp3"]:after, a.NDprettylink[href$=".mp4"]:after,
a.COGprettylink[href$=".mp3"]:after, a.COGprettylink[href$=".mp4"]:after{
  content:url(https://img.icons8.com/color/24/000000/video-file.png);
}

a.NDprettylink[href$=".docx"]:after, a.NDprettylink[type="application/msword"]:after, .wp-block-file a[href$=".docx"]:after, .wp-block-file a[type="application/msword"]:after,
a.COGprettylink[href$=".docx"]:after, a.COGprettylink[type="application/msword"]:after {
  content:url(https://img.icons8.com/color/24/000000/ms-word.png);
}

a.COGprettylink[href$=".pptx"]:after, a.COGprettylink[href$=".ppt"]:after, a.COGprettylink[type="application/mspowerpoint"]:after, a.COGprettylink[type="application/powerpoint"]:after,
.wp-block-file a[href$=".pptx"]:after, .wp-block-file a[href$=".ppt"]:after, .wp-block-file a[type="application/mspowerpoint"]:after, .wp-block-file a[type="application/powerpoint"]:after,
a.NDprettylink[href$=".pptx"]:after, a.NDprettylink[href$=".ppt"]:after, a.NDprettylink[type="application/mspowerpoint"]:after, a.NDprettylink[type="application/powerpoint"]:after {
    content:url(https://img.icons8.com/color/24/000000/ms-powerpoint--v1.png);
}

a.COGprettylink[href$=".xlsx"]:after, a.COGprettylink[type="application/excel"]:after, a.COGprettylink[type="application/x-excel"]:after,
a.NDprettylink[href$=".xlsx"]:after, a.NDprettylink[type="application/excel"]:after, a.NDprettylink[type="application/x-excel"]:after,
.wp-block-file a[href$=".xlsx"]:after, .wp-block-file a[type="application/excel"]:after, .wp-block-file a[type="application/x-excel"]:after {
  content:url(https://img.icons8.com/color/24/000000/ms-excel.png);
}

a.COGprettylink[href*=".pdf"]:after, a.COGprettylink[type="application/pdf"]:after,
a.NDprettylink[href*=".pdf"]:after, a.NDprettylink[type="application/pdf"]:after,
.wp-block-file a[type="application/pdf"]:after, .wp-block-file a[href*=".pdf"]:after {
  content:url(https://img.icons8.com/color/24/000000/pdf-2.png);
}

a.COGprettylink[href*="forms.guelph"]:after, .wp-block-file a[href*="forms.guelph"]:after,
a.NDprettylink[href*="forms.guelph"]:after,
a.COGprettylink[href*="docs.google.com/spreadsheet"]:after, .wp-block-file a[href*="docs.google.com/spreadsheet"]:after,
a.NDprettylink[href*="docs.google.com/spreadsheet"]:after {
  content:url(https://img.icons8.com/color/24/000000/google-sheets.png);
}








/********************************
 * PRETTY BUTTONS
 ********************************/
.NDprettybtn, .prettybtn {
  -webkit-transition: 0.15s;
  transition: 0.15s;
  background: none;
  font: inherit;
  line-height: 1.36;
  /* margin: 0.5em; */
  margin: 0.5rem 0;
  padding: 0.6em 1em;
	display: inline-block;
	border-radius: 3px;
	text-decoration: none;
  color: var(--link-text-color);
  border: 1px solid #ddd;
  /* border-color: var(--main-text-color); */
}
.NDprettybtn:hover, .NDprettybtn:focus,
.prettybtn:hover, .prettybtn:focus {
  text-decoration: none;
  background-color: #eee;
  color: var(--main-text-color);
  /* -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
  box-shadow: inset 0 1.5px 10px rgba(0,0,0,.125); */
}

/*Wide, thick, and other modifiers*/
.NDprettybtn.padwide, .prettybtn.padwide{
  padding: 1em 2em;
}
.NDprettybtn.padnarrow, .prettybtn.padnarrow{
  padding: 0.2em 0.7em;
}
.NDprettybtn.borderthick, .prettybtn.borderthick{
  border: 2px solid;
}

/*base animation*/
.NDprettybtn.fill:hover,
.NDprettybtn.fill:focus,
.prettybtn.fill:hover,
.prettybtn.fill:focus {
  background-color: var(--main-text-color);
  text-decoration: none;
  color: #fff !important;
}

/*Color options*/
.NDprettybtn.white, .prettybtn.white{
	 color: #fff;
   border-color: #fff;
   background: dimgrey;
}
.NDprettybtn.white:hover, .NDprettybtn.white:focus,
.prettybtn.white:hover, .prettybtn.white:focus {
  color: #fff;
  border-color: #fff;
  background: dimgrey;
  text-decoration: none;
}


.NDprettybtn.blue, .prettybtn.blue{
	 color: #00355f !important;
   border-color: #00355f !important;
}
.NDprettybtn.blue:hover, .NDprettybtn.blue:focus,
.prettybtn.blue:hover, .prettybtn.blue:focus {
  /* text-decoration: underline; */
}
.NDprettybtn.blue.fill:hover,
.NDprettybtn.blue.fill:focus,
.prettybtn.blue.fill:hover,
.prettybtn.blue.fill:focus {
  background-color: #00355f;
  text-decoration: none;
  color: #fff !important;
}

.NDprettybtn.grey, .prettybtn.grey{
	 color: var(--grey-text-color) !important;
   border-color: var(--grey-text-color) !important;
}
.NDprettybtn.grey:hover, .NDprettybtn.blue:focus,
.prettybtn.grey:hover, .prettybtn.blue:focus {
  /* text-decoration: underline; */
}
.NDprettybtn.grey.fill:hover,
.NDprettybtn.grey.fill:focus,
.prettybtn.grey.fill:hover,
.prettybtn.grey.fill:focus {
  background-color: var(--grey-text-color);
  text-decoration: none;
  color: #fff !important;
}





/********************************
 * THUMBNAIL
 ********************************/
.thumbnail {
  display: block;
  padding: 15px;
  margin: 0;
  margin-bottom: 15px;
  -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.26);
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.26);
  -o-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.26);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.26);
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  -moz-transition: 0.1s all;
  -webkit-transition: 0.1s all;
  -o-transition: 0.1s all;
  transition: 0.1s all;
  line-height: 1.35;
  border: 1px solid #e5e5e5;
}
.thumbnail .post-date {
  color: var(--grey-text-color);
  padding: 5px 0;
  font-size: 90%
}



/********************************
 * WELL
 ********************************/
.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #fafafa;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

p.well {
  background-color: #fefefe !important;
}

div.well ul li {
  margin-bottom: .5em;
}




/* =================== Landing Boxes????? =================== */
.landingBox{
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  border-left: 1px solid
  #eee;
  -moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,.26);
  -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.26);
  -o-box-shadow: 0 1px 1px 0 rgba(0,0,0,.26);
  box-shadow: ;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 10px;
  border-right: 1px solid
  #eee;
  -moz-transition: .1s all;
  -webkit-transition: .1s all;
  -o-transition: .1s all;
  transition: .1s all;
  background:
  #fdfdfd;
}
