/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
font-weight:600;
}

.accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.faq-panel {
    margin: 5px 18px;;
line-height:1.7;
max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.faq-panel ul {
list-style:disc;
padding-left:20px;
}

.accordion:after {
  content: '\002b'; /* Unicode character for "plus" sign (+) */
  font-size: 18px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.accordion.active:after {
  content: "\2212"; /* Unicode character for "minus" sign (-) */
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 40px;
    margin-bottom: 20px;
}

.site-content article {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

p {
padding-bottom: .5em !important;
padding-top:.5em !important;
}