/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: $color-gray-10;
  color: $main-text-color;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: $anim-time;
  font-weight:600;
  &:hover {
    background-color: $color-gray-27;
  }
  &:after {
    content: '\002b'; /* Unicode character for "plus" sign (+) */
    font-size: 18px;
    color: $site-darktone;
    float: right;
    margin-left: 5px;
  }
  &.active:after {
    content: "\2212"; /* Unicode character for "minus" sign (-) */
  }
}


/* Style the accordion panel. Note: hidden by default */
.accordian-panel {
  line-height:1.7;
  max-height: 0;
  overflow: hidden;
  transition: $anim-time $anim-base-easing;
  margin-bottom: 1em;
  padding: 0 1em;
  background: $color-gray-04;

  &.show{
    max-height: 100%;
    padding: 1em;
  }

  ul {
  list-style:disc;
  padding-left:20px;
  }
}
