/*--------------------------------------------------------------
  ## Banner
--------------------------------------------------------------*/
section[role="banner"] {
	margin-bottom: 48px;
	margin-bottom: 3.428571429rem;
}
