/*--------------------------------------------------------------
  ## Banner
--------------------------------------------------------------*/
section[role="banner"] {
	margin-bottom: 48px;
	margin-bottom: 3.428571429rem;
}

.banner-text {
	color: #fff;
	text-align: center;
	font-size: 2rem;
}
