/*--------------------------------------------------------------
  ## Banner
--------------------------------------------------------------*/
section[role="banner"] {
	margin-bottom: 48px;
	margin-bottom: 3.428571429rem;
}

.banner-text {
	color: #fff;
	text-align: center;
	font-size: 2rem;
}

.gds-banner {
	position: relative;
	width: 100%;
	text-align: center;

	img{
		width: 100%;
		opacity: 80%;
	}

	.gds-banner-container {
		position: absolute;
		width: 80%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}
