/********************************
  ## BS Callout
 ********************************/
 .bs-callout {
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   -o-border-radius: 3px;
   border-radius: 3px;
   border: 1px solid #eee;
   border-left-color: $site-primary;
   border-left-width: 5px;
   margin: 15px 0;
   padding: 20px;
   line-height: 125%;

   h2.homeheader {
     margin-top: 0;
     margin-bottom: 5px;
     font-size: 150%;
   }
   p:last-child {
     margin-bottom: 0;
   }
   lead {
     margin-top: 0;
     margin-bottom: 5px;
     font-size: 150%;
   }
 }



 .bs-callout+.bs-callout {
   margin-top: -5px;
 }

 .bs-callout-default {
   border-left-color: #777;
   lead {
     color: #777;
   }
 }


 .bs-callout-black h2.black-header, h3.black-header, h4.black-header, h5.black-header, p.black-lead, .bs-callout-black a, h2.black-header a, h3.black-header a, h4.black-header a, h5.black-header a, p.black-lead a, .bs-callout-black a:visited, h2.black-header a:visited, h3.black-header a:visited, h4.black-header a:visited, h5.black-header a:visited, p.black-lead a:visited {
   margin-top: 0;
   margin-bottom: 5px;
   font-size: 150%;
   color: #777;
   font-weight: 400;
 }

 .bs-callout-black {
   border-left-color: #777;
 }

 h2.black-header a, h2.black-header a:visited {
   color: #777;
 }

 .bs-callout-blue {
   border-left-color: #428bca;
 }

 .bs-callout-blue h2.blue-header, h3.blue-header, h4.blue-header, h5.blue-header, p.blue-lead, .bs-callout-blue a, h2.blue-header a, h3.blue-header a, h4.blue-header a, h5.blue-header a, p.blue-lead a, .bs-callout-blue a:visited, h2.blue-header a:visited, h3.blue-header a:visited, h4.blue-header a:visited, h5.blue-header a:visited, p.blue-lead a:visited {
   margin-top: 0;
   margin-bottom: 5px;
   font-size: 150%;
   color: #428bca;
   font-weight: 400;
 }

 h2.blue-header a, h2.blue-header a:visited {
   color: #428bca;
 }

 .bs-callout-green {
   border-left-color: #4ba74b;
 }

 .bs-callout-green h2.green-header, h3.green-header, h4.green-header, h5.green-header, p.green-lead, .bs-callout-green a, h2.green-header a, h3.green-header a, h4.green-header a, h5.green-header a, p.green-lead a, .bs-callout-green a:visited, h2.green-header a:visited, h3.green-header a:visited, h4.green-header a:visited, h5.green-header a:visited, p.green-lead a:visited {
   margin-top: 0;
   margin-bottom: 5px;
   font-size: 150%;
   color: #4ba74b;
   font-weight: 400;
 }

 .bs-callout-green a, .bs-callout-red a, .bs-callout-aqua a, .bs-callout-black a, .bs-callout-blue a, .bs-callout-orange a {
   margin-top: 0;
   margin-bottom: 5px;
   /* font-size: 150%; */
   font-weight: 400;
 }

 .bs-callout-red {
   border-left-color: #d4403a;
 }

 h2.red-header a, h2.red-header a:visited {
   color: #d4403a;
 }

 .bs-callout-red h2.red-header, .bs-callout-red h2, h3.red-header, h4.red-header, h5.red-header, p.red-lead, h2.red-header a, h3.red-header a, h4.red-header a, h5.red-header a {
   margin-top: 0;
   margin-bottom: 5px;
   font-size: 150%;
   color: #d4403a;
   font-weight: 400;
 }

 .bs-callout-red a, h2.red-header a, p.red-lead a, .bs-callout-red a:visited, h2.red-header a:visited, h3.red-header a:visited, h4.red-header a:visited, h5.red-header a:visited, p.red-lead a:visited {
   color: #d4403a;
   font-weight: 400;
 }

 .bs-callout-orange {
   border-left-color: #c98627;
 }

 h2.orange-header a, h2.orange-header a:visited {
   color: #c98627;
 }

 .bs-callout-orange h2.orange-header, h3.orange-header, h4.orange-header, h5.orange-header, p.orange-lead, .bs-callout-orange a, h2.orange-header a, h3.orange-header a, h4.orange-header a, h5.orange-header a, p.orange-lead a, .bs-callout-orange a:visited, h2.orange-header a:visited, h3.orange-header a:visited, h4.orange-header a:visited, h5.orange-header a:visited, p.orange-lead a:visited {
   margin-top: 0;
   margin-bottom: 5px;
   font-size: 150%;
   color: #c98627;
   font-weight: 400;
 }

 .bs-callout-aqua {
   border-left-color: #3ba0be;
 }

 h2.aqua-header a, h2.aqua-header a:visited {
   color: #3ba0be;
 }

 .bs-callout-aqua h2.aqua-header, h3.aqua-header, h4.aqua-header, h5.aqua-header, p.aqua-lead, .bs-callout-aqua a, h2.aqua-header a, h3.aqua-header a, h4.aqua-header a, h5.aqua-header a, p.aqua-lead a, .bs-callout-aqua a:visited, h2.aqua-header a:visited, h3.aqua-header a:visited, h4.aqua-header a:visited, h5.aqua-header a:visited, p.aqua-lead a:visited {
   margin-top: 0;
   margin-bottom: 5px;
   font-size: 150%;
   color: #3ba0be;
   font-weight: 400;
 }

 .bs-callout-primary {
   border-left-color: #428bca;
 }

 .bs-callout-primary lead {
   color: #428bca;
 }

 .bs-callout-success {
   border-left-color: #4ba74b;
 }

 .bs-callout-success lead {
   color: #4ba74b;
 }

 .bs-callout-danger {
   border-left-color: #d4403a;
 }

 .bs-callout-danger lead {
   color: #d4403a;
 }

 .bs-callout-warning {
   border-left-color: #c98627;
 }

 .bs-callout-warning lead {
   color: #c98627;
 }

 .bs-callout-info {
   border-left-color: #3ba0be;
 }

 .bs-callout-info lead {
   color: #3ba0be;
 }

 .bs-callout .plain-text a {
   font-size: $main-text-size;
   text-decoration: underline dotted grey;
   color: $link-text-color;
   font-weight: bold;
 }

 .bs-callout a:hover {
   text-decoration: underline;
 }
