/*--------------------------------------------------------------
  ## Pretty Button
--------------------------------------------------------------*/
.NDprettybtn, .prettybtn {
  -webkit-transition: 0.15s;
  transition: 0.15s;
  background: none;
  font: inherit;
  line-height: 1.36;
  /* margin: 0.5em; */
  margin: 0.5rem 0;
  padding: 0.6em 1em;
	display: inline-block;
	border-radius: 3px;
	text-decoration: none;
  color: $link-text-color;
  border: 1px solid $site-border-dark;
  /* border-color: $main-text-color; */

  &.padwide{
    padding: 1em 2em;
  }
  &.padnarrow{
    padding: 0.2em 0.7em;
  }
  &.borderthick{
    border: 2px solid;
  }
  &.bordernone{
    border: none;
  }

  &:hover, &:focus{
    text-decoration: none;
    background-color: #eee;
    color: $main-text-color;
    /* -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    box-shadow: inset 0 1.5px 10px rgba(0,0,0,.125); */
  }

  &.fill:hover{
    background-color: $main-text-color;
    text-decoration: none;
    color: #fff !important;
  }

  &.white{
    color: #fff;
    border-color: #fff;
    background: dimgrey;

    &:hover, &:focus{
      color: #fff;
      border-color: #fff;
      background: dimgrey;
      text-decoration: none;
    }
  }

  &.blue{
    color: #00355f !important;
    border-color: #00355f !important;

    &:hover, &:focus{
      background-color: #00355f;
      text-decoration: none;
      color: #fff !important;
    }
  }

  &.grey{
    color: $grey-text-color !important;
    border-color: $grey-text-color !important;

    &:hover, &:focus{
      background-color: $grey-text-color;
      text-decoration: none;
      color: #fff !important;
    }
  }

}
