/*--------------------------------------------------------------
  ## Pretty Button
--------------------------------------------------------------*/
.NDprettybtn, .prettybtn {
  position: relative;
  display: inline-block;
  margin: 0.5rem 0;
  padding: 0.6em 1em;
  color: $link-text-color;
  background: none;
  font: inherit;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  line-height: 1.36;
	border-radius: 3px;
  border: 1px solid $site-border-dark;
  overflow: hidden;
  transition: color 0.5s ease 0s;

  &.padwide{
    padding: 1em 2em;
  }
  &.padnarrow{
    padding: 0.2em 0.7em;
  }
  &.borderthick{
    border: 2px solid;
  }
  &.bordernone{
    border: none;
  }

  &:hover, &:focus{
    text-decoration: none;
    transition: color 0.5s ease 0s;
    &:after{
      height: 1300%;
    }
  }

  &:after {
    content: "";
    position: absolute;
    height: 0%;
    left: 50%;
    top: 50%;
    width: 150%;
    z-index: -1;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    background-color: #eee;
    -moz-transform: translateY(-50%) translateX(-50%) rotate(90deg);
    -ms-transform: translateY(-50%) translateX(-50%) rotate(90deg);
    -webkit-transform: translateY(-50%) translateX(-50%) rotate(90deg);
    transform: translateY(-50%) translateX(-50%) rotate(90deg);
  }

  &.grey{
    color: $grey-text-color !important;
    border-color: $grey-text-color !important;
    &:hover, &:focus{
      color: white !important;
      background-color: $grey-text-color;
      transition: color 0.5s ease 0s, background-color 0s ease-in 0.5s;
    }
    &:after{
      background-color: $grey-text-color;
    }
  }

  &.white{
    color: white;
    border-color: white;
    background: dimgrey;

    &:hover, &:focus{
      color: #fff;
      border-color: #fff;
      background: dimgrey;
      text-decoration: none;
    }
  }

  &.blue{
    color: #00355f !important;
    border-color: #00355f !important;

    &:hover, &:focus{
      background-color: #00355f;
      text-decoration: none;
      color: #fff !important;
    }
  }

}
