/********************************
 * PRETTY LINKS
 *
 * these links automatically create a linkage button with the icon indicating the file type.
 * Files currently supported include; mp3, docx, pptx, xlsx, pdf, and forms.guelph
 *
 * restrictions: they take up an entire line, and lack an icon if missing the proper prefix or suffix
 ********************************/
a.COGprettylink, a.NDprettylink, .wp-block-file a, .wp-block-file__content-wrapper{
  margin: 20px 0 !important;
  font-weight: 600;
  background: #fafafa;
  /*background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%);*/
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-shadow: 0px 2px 0px #fff;
  border: solid 1px #ccc;
  cursor: pointer;
  display: block;
  font-size: 14px;
  line-height: 1.2em;
  padding: 10px 10px 10px 40px;
  position: relative;
  text-decoration: none !important;
}

a.COGprettylink:after, a.NDprettylink:after, .wp-block-file a:after{
  content: "";
  display: block;
  height: 20px;
  left: 10px;
  margin-right: 2px;
  position: absolute;
  top: 8px;
  width: 20px;
}

a.COGprettylink:hover, a.NDprettylink:hover, .wp-block-file a:hover{
  text-decoration: none;
  border: solid 1px #aaa;
  color: #206dbc;
}

a.NDprettylink[href$=".mp3"]:after, a.NDprettylink[href$=".mp4"]:after,
a.COGprettylink[href$=".mp3"]:after, a.COGprettylink[href$=".mp4"]:after{
  content:url(https://img.icons8.com/color/24/000000/video-file.png);
}

a.NDprettylink[href$=".docx"]:after, a.NDprettylink[type="application/msword"]:after, .wp-block-file a[href$=".docx"]:after, .wp-block-file a[type="application/msword"]:after,
a.COGprettylink[href$=".docx"]:after, a.COGprettylink[type="application/msword"]:after {
  content:url(https://img.icons8.com/color/24/000000/ms-word.png);
}

a.COGprettylink[href$=".pptx"]:after, a.COGprettylink[href$=".ppt"]:after, a.COGprettylink[type="application/mspowerpoint"]:after, a.COGprettylink[type="application/powerpoint"]:after,
.wp-block-file a[href$=".pptx"]:after, .wp-block-file a[href$=".ppt"]:after, .wp-block-file a[type="application/mspowerpoint"]:after, .wp-block-file a[type="application/powerpoint"]:after,
a.NDprettylink[href$=".pptx"]:after, a.NDprettylink[href$=".ppt"]:after, a.NDprettylink[type="application/mspowerpoint"]:after, a.NDprettylink[type="application/powerpoint"]:after {
    content:url(https://img.icons8.com/color/24/000000/ms-powerpoint--v1.png);
}

a.COGprettylink[href$=".xlsx"]:after, a.COGprettylink[type="application/excel"]:after, a.COGprettylink[type="application/x-excel"]:after,
a.NDprettylink[href$=".xlsx"]:after, a.NDprettylink[type="application/excel"]:after, a.NDprettylink[type="application/x-excel"]:after,
.wp-block-file a[href$=".xlsx"]:after, .wp-block-file a[type="application/excel"]:after, .wp-block-file a[type="application/x-excel"]:after {
  content:url(https://img.icons8.com/color/24/000000/ms-excel.png);
}

a.COGprettylink[href*=".pdf"]:after, a.COGprettylink[type="application/pdf"]:after,
a.NDprettylink[href*=".pdf"]:after, a.NDprettylink[type="application/pdf"]:after,
.wp-block-file a[type="application/pdf"]:after, .wp-block-file a[href*=".pdf"]:after {
  content:url(https://img.icons8.com/color/24/000000/pdf-2.png);
}

a.COGprettylink[href*="forms.guelph"]:after, .wp-block-file a[href*="forms.guelph"]:after,
a.NDprettylink[href*="forms.guelph"]:after,
a.COGprettylink[href*="docs.google.com/spreadsheet"]:after, .wp-block-file a[href*="docs.google.com/spreadsheet"]:after,
a.NDprettylink[href*="docs.google.com/spreadsheet"]:after {
  content:url(https://img.icons8.com/color/24/000000/google-sheets.png);
}
