/*--------------------------------------------------------------
  ## Pretty Button
--------------------------------------------------------------*/
a.NDprettybtn, a.prettybtn {
  position: relative;
  display: inline-block;
  margin: 0.5rem 0;
  padding: 0.6em 1em;
  background: none;
  font: inherit;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  line-height: 1.36;
	border-radius: 3px;
  border: 1px solid $site-border-dark;
  overflow: hidden;
  transition: color 0.5s ease 0s;
  // color: $grey-text-color;
  border-color: $grey-text-color;

  &:hover, &:focus{
    text-decoration: none;
    color: white;
    background-color: $grey-text-color;
    transition: color 0.5s ease 0s, background-color 0s ease-in 0.5s;
    &:after{
      width: 120%;
    }
  }

  &:after {
    content: "";
    position: absolute;
    display: block;
    height: 150%;
    left: 50%;
    top: 50%;
    width: 0%;
    z-index: -1;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    -moz-transform: translateY(-50%) translateX(-50%) rotate(0deg);
    -ms-transform: translateY(-50%) translateX(-50%) rotate(0deg);
    -webkit-transform: translateY(-50%) translateX(-50%) rotate(0deg);
    transform: translateY(-50%) translateX(-50%) rotate(0deg);
    background-color: $grey-text-color;
  }

  /********************
  * PRETTYBTN MODIFIERS
  *********************/
  &.padwide{
    padding: 1em 2em;
  }
  &.padnarrow{
    padding: 0.2em 0.7em;
  }
  &.borderthick{
    border: 2px solid;
  }
  &.bordernone{
    border: none;
  }
  &.x-large{
    font-size: x-large;
  }
  &.small{
    font-size: small;
  }

  /********************
  * PRETTYBTN COLOURS
  *********************/
  &.prettybtn-grey {
    color: $grey-text-color !important;
    border-color: $grey-text-color !important;

    &:hover, &:focus{
      color: white !important;
      background-color: $grey-text-color;
    }
    &:after{
      background-color: $grey-text-color;
    }
  }

  &.prettybtn-light-grey {
    color: $link-text-color !important;
    border-color: $site-border-dark !important;

    &:hover, &:focus{
      color: $link-text-color !important;
      background-color: $color-gray-07;
    }
    &:after{
      background-color: $color-gray-07;
    }
  }


  &.prettybtn-green{
    color: $color-green-dark !important;
    border-color: $grey-text-color !important;

    &:hover, &:focus{
      color: white !important;
      background-color: $color-green-dark;
    }

    &:after{
      background-color: $color-green-dark;
    }
  }

  &.prettybtn-blue{
    color: $color-navy-dark !important;
    border-color: $color-navy-dark !important;

    &:hover, &:focus{
      color: white !important;
      background-color: $color-navy-dark;
    }
    &:after{
      background-color: $color-navy-dark;
    }
  }


  /********************
  * PRETTYBTN FLAVOURS
  *********************/
  &.link-learn, &.learn-more{
    // @extend .prettybtn-green;
    &:before{
      @extend .material-icons;
      @extend .material-icon-btn-extender;
      content: 'info';
    }
  }
  &.link-view{
    // @extend .prettybtn-blue;
    &:before{
      @extend .material-icons;
      @extend .material-icon-btn-extender;
      content: 'preview';
    }
  }

  &.link-feedback{
    &:before{
      @extend .material-icons;
      @extend .material-icon-btn-extender;
      content: 'feedback';
    }
  }

  &.link-report{
    @extend .link-feedback;
  }

  &.link-request{
    &:before{
      @extend .material-icons;
      @extend .material-icon-btn-extender;
      content: 'help_center';
    }
  }

  &.link-pay{
    &:before{
      @extend .material-icons;
      @extend .material-icon-btn-extender;
      content: 'payment';
    }
  }
  &.link-purchase{
    @extend .link-pay;
  }
}
