/*--------------------------------------------------------------
  ## Pretty Button
--------------------------------------------------------------*/
.NDprettybtn, .prettybtn {
  position: relative;
  display: inline-block;
  margin: 0.5rem 0;
  padding: 0.6em 1em;
  color: $link-text-color;
  background: none;
  font: inherit;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  line-height: 1.36;
	border-radius: 3px;
  border: 1px solid $site-border-dark;
  overflow: hidden;
  transition: color 0.5s ease 0s;

  &:hover, &:focus{
    text-decoration: none;
    transition: color 0.5s ease 0s;
    &:after{
      height: 1300%;
    }
  }

  &:after {
    content: "";
    position: absolute;
    height: 0%;
    left: 50%;
    top: 50%;
    width: 150%;
    z-index: -1;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    background-color: #eee;
    -moz-transform: translateY(-50%) translateX(-50%) rotate(90deg);
    -ms-transform: translateY(-50%) translateX(-50%) rotate(90deg);
    -webkit-transform: translateY(-50%) translateX(-50%) rotate(90deg);
    transform: translateY(-50%) translateX(-50%) rotate(90deg);
  }

  /********************
  * PRETTYBTN MODIFIERS
  *********************/
  &.padwide{
    padding: 1em 2em;
  }
  &.padnarrow{
    padding: 0.2em 0.7em;
  }
  &.borderthick{
    border: 2px solid;
  }
  &.bordernone{
    border: none;
  }

  /********************
  * PRETTYBTN COLOURS
  *********************/

  &.prettybtn-green{
    color: $color-green-dark !important;
    border-color: $grey-text-color !important;

    &:hover, &:focus{
      color: white !important;
      background-color: $color-green-dark;
      transition: color 0.5s ease 0s, background-color 0s ease-in 0.5s;
    }

    &:after{
      background-color: $color-green-dark;
    }
  }

  &.prettybtn-grey {
    color: $grey-text-color !important;
    border-color: $grey-text-color !important;

    &:hover, &:focus{
      color: white !important;
      background-color: $grey-text-color;
      transition: color 0.5s ease 0s, background-color 0s ease-in 0.5s;
    }
    &:after{
      background-color: $grey-text-color;
    }
  }

  &.prettybtn-blue{
    color: $color-navy-dark !important;
    border-color: $color-navy-dark !important;

    &:hover, &:focus{
      color: white !important;
      background-color: $color-navy-dark;
      transition: color 0.5s ease 0s, background-color 0s ease-in 0.5s;
    }
    &:after{
      background-color: $color-navy-dark;
    }
  }


  /********************
  * PRETTYBTN FLAVOURS
  *********************/
  &.learn-more{
    @extend .prettybtn-green;
    &:before{
      @extend .material-icons;
      @extend .material-icon-btn-extender;
      content: 'info';
    }
  }
  &.link-view{
    @extend .prettybtn-blue;
    &:before{
      @extend .material-icons;
      @extend .material-icon-btn-extender;
      content: 'preview';
    }
  }

  &.link-feedback{
    @extend .prettybtn-grey;
    &:before{
      @extend .material-icons;
      @extend .material-icon-btn-extender;
      content: 'feedback';
    }
  }
}
