/*--------------------------------------------------------------
	## Colour Classes
--------------------------------------------------------------*/
.cog-white {
 color: white;
}

.cog--bg-purple {
background-color: $color-purple;
}
