/*--------------------------------------------------------------
  ## Media
--------------------------------------------------------------*/

embed, iframe, object, video,{
	max-width: 100%;
}


img {
  max-width: 100%;

  &.wp-post-image, &.header-image{
    border-radius: 3px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  }
  &[class*="align"], &[class*="wp-image-"], [class*="attachment-"]{
    height: auto;
  }
  &.size-full,
  &.size-large,
  &.header-image,
  &.wp-post-image {
  	max-width: 100%;
  	height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
  }
  &.wp-smiley{
    border: 0;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
  }
  .alignleft {
    margin: 12px 24px 12px 0;
    margin: 0.857142857rem 1.714285714rem 0.857142857rem 0;
  }
  .alignright {
    margin: 12px 0 12px 24px;
    margin: 0.857142857rem 0 0.857142857rem 1.714285714rem;
  }
  .aligncenter {
    clear: both;
    margin-top: 12px;
    margin-top: 0.857142857rem;
    margin-bottom: 12px;
    margin-bottom: 0.857142857rem;
  }
}

/*Captions*/
.wp-caption {
	max-width: 100%;
	padding: 4px;

  .alignleft {
    margin: 12px 24px 12px 0;
    margin: 0.857142857rem 1.714285714rem 0.857142857rem 0;
  }
  .alignright {
    margin: 12px 0 12px 24px;
    margin: 0.857142857rem 0 0.857142857rem 1.714285714rem;
  }
  .aligncenter {
    clear: both;
    margin-top: 12px;
    margin-top: 0.857142857rem;
    margin-bottom: 12px;
    margin-bottom: 0.857142857rem;
  }
}

.wp-caption .wp-caption-text, .gallery-caption, .entry-caption {
  font-style: italic;
  font-size: 12px;
  font-size: 0.857142857rem;
  line-height: 1.3;
  color: $color-gray-50;
}

/*Gallery*/
.gallery-item {
	margin: 0;
  a {
  	width: 90%;
    display: block;
    display: inline;
  }
}

.gallery-caption{
  width: 90%;
}

.gallery-columns-1 .gallery-item a {
	max-width: 100%;
	width: auto;
}
.gallery .gallery-icon img {
	height: auto;
	max-width: 90%;
	padding: 5%;
}
.gallery-columns-1 .gallery-icon img {
	padding: 3%;
}
.wp-block-image {
  .aligncenter, .alignleft,  .alignright, .is-resized {
    margin: auto;
  }
}

/* iFrames */
.myIframe {
  overflow: hidden;
  position: relative;
  padding-top: 30px;
  padding-bottom: 65.25%;
  height: 0;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-overflow-scrolling: touch;
	
	iframe {
	 width: 100%;
	 position: absolute;
	 top: 0;
	 height: 100%;
	 left: 0;
 }
}
