/*--------------------------------------------------------------
  ## Page - Default, Full Width
--------------------------------------------------------------*/
#main.wrapper-fullwidth {
  max-width: 100%;
  overflow: hidden;
  margin: 0 auto 0 auto;

  .entry-header {
    display:none;
  }
  .site-content{
    padding: 0;
    margin-top: 0;
    float: none;
    width: 100%
  }
  #bottom-meta{
    padding-left: 30px;
    padding-right: 30px;
  }
}
