/*--------------------------------------------------------------
  ## Page - Frequently Asked Questions
--------------------------------------------------------------*/
.faqPage{
  .site-content article {
    padding-bottom: 0;
  }
}
