/*--------------------------------------------------------------
  ## Page - Empty
--------------------------------------------------------------*/
#main.emptyPage {
	.site-content {
		article {
			border: 0;
			margin-bottom: 0;
		}
	}

	#primary {
		margin-top: 0px;
	}
}
